:root {
    --background: #9AB19A;
    --primary: #9AB19A;
    --primary-dark: #52584D;
    --primary-light: #D9C1BB;
    --secondary: #D9C1BB;
    --error-color: #E0115F;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background: var(--background);
  }
  
  .container {
    max-width: 1000px;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16rem;
    margin-block: 10rem;
  }