/* About.css */

.about-page {
  gap: 16rem;
}

.about-page img {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

p {
  text-align: center;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.quote {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  color: #333;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
  margin-inline: 0;
}

.author {
  font-size: 0.8rem;
  font-weight: 500;
  font-style: italic;
  color: #333;
  text-align: end;
  margin: 0;
}

.col-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-reverse-flex {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.row-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#profile-pic {
  max-width: 32rem;
  align-self: center;
}

.pictures {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.horizontal-text {
  padding: 0 2rem;
}

.pictures-col {
  width: 50%;
  gap: 2rem;
}

@media only screen and (max-width: 600px) {
  .pictures-col {
    width: 100%;
    gap: 2rem;
  }
  .pictures {
    flex-direction: column;
  }

  .half-width {
    width: 100%;
  }

  .horizontal-text {
    padding: 0;
  }
}
