.project-image {
  max-height: 3rem;
  max-width: 3rem;
  height: 3rem;
  width: 3rem;
  object-fit: contain;
  border-radius: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  gap: 12px;
  grid-auto-rows: minmax(100px, auto);
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(1, minmax(0px, 1fr));
    max-width: max-content;
  }
  .container {
    max-width: 500px !important;
  }
}
.line-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 2rem;
}

.project-line-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.divider {
  border-top: 1px solid #7d7d7d;
  margin: 0px;
}

.project-line-item > svg {
  height: 2rem;
}

.project-line-item-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-line-item-text > a {
  overflow-wrap: anywhere;
}

.tech-link {
  color: inherit;
  font-weight: 400;
}

.project-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--card);
  border-radius: 16px;
  padding: 16px;
  /* margin: 8px; */
  gap: 8px;
}

div.project-container .title {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

div.project-container .description {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}

.project-container svg {
  font-size: 3rem;
}

.tech-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.tech-images:hover {
  cursor: pointer;
}

.github-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
