.project-image {
  max-height: 3rem;
  max-width: 3rem;
  border-radius: 10px;
}

#galaga {
  image-rendering: pixelated;
  padding: 5px;
}

.clickable:hover {
  cursor: pointer;
  background-color: rgba(149, 149, 149, 0.5);

  transition: background-color 0.5s ease;
}
.no-click {
  margin: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.line-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(1, minmax(0px, 1fr));
    max-width: max-content;
  }
  .container {
    max-width: 500px !important;
  }
}

.project-line-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.project-line-item > svg {
  height: 2rem;
}

.project-line-item-text > a {
  overflow-wrap: anywhere;
}

.project-line-item-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tech-image {
  max-height: 3rem;
  max-width: 8rem;
  border-radius: 3px;
  margin-inline: 0.5rem;
}

.tech-link {
  color: inherit;
  font-weight: 400;
}

.project-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--card);
  border-radius: 16px;
  padding: 16px;
  margin: 8px;
  gap: 8px;
}

div.project-container .title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
}

div.project-container .description {
  margin-top: 8px;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  margin-bottom: 2rem;
}

.project-container svg {
  font-size: 3rem;
}

.tech-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.tech-images:hover {
  cursor: pointer;
}

.divider {
  border-bottom: 1px solid black;
  width: 100%;
  margin: 4rem 0;
}

.github-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
