.project-image {
  /* background-color: var(--primary-dark); */
  height: 10rem;
  border-radius: 10px;
}

#galaga {
  image-rendering: pixelated;
  padding: 5px;
}

.clickable:hover {
  cursor: pointer;
  background-color: rgba(149, 149, 149, 0.5);

  transition: background-color 0.5s ease;
}
.no-click {
  margin: 10px;
}

.tech-image {
  max-height: 3rem;
  max-width: 8rem;
  border-radius: 3px;
  margin-inline: 0.5rem;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 32rem;
}

div.project-container .title {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  color: #333;
}

div.project-container .description {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  color: #333;
  text-align: end;
  margin-top: 0;
}

.project-container svg {
  font-size: 3rem;
}
.project-container svg:hover {
  color: #333;
  cursor: pointer;
}

.tech-images {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tech-images:hover {
  cursor: pointer;
}

.divider {
  border-bottom: 1px solid black;
  width: 100%;
  margin: 4rem 0;
}

.github-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}