.project-image {
  background-color: grey;
  height: 10rem;
  border-radius: 10px;
}
.project-image:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.tech-image {
  max-height: 4rem;
  max-width: 8rem;
  border-radius: 3px;
  margin-inline: 0.5rem;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 32rem;
}

div.project-container .title {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  color: #333;
}

div.project-container .description {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  color: #333;
  text-align: end;
  margin-top: 0;
}

.project-container svg {
  font-size: 3rem;
}
.project-container svg:hover {
  color: #333;
  cursor: pointer;
}

.tech-images {
  display: flex;
  flex-direction: row;
  align-items: center;
}