div.projects-page img {
  background-color: grey;
  border-radius: 10px;
}
div.projects-page img:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.project-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-block: 1rem;
}

div.project-container .title {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  color: #333;
}

div.project-container .description {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  color: #333;
  text-align: end;
  margin-top: 0;
}

.project-container svg {
  font-size: 3rem;
}
.project-container svg:hover {
  color: #333;
  cursor: pointer;
}
